build/
dist/
*.egg-info/
node_modules/
__pycache__/
.pytest_cache/
*.pyc
implementations/typescript/packages/*/LICENSE
adapters/a2ui-v0.8/LICENSE
adapters/a2ui-v0.9.1/LICENSE
transports/http/LICENSE
presenters/react/LICENSE
